body {
  padding-bottom: 20px;
  font-family: Avenir, Helvetica;
}

h3 {
  color: #777;
  font-weight: lighter;
}

h4 {
  color: #777;
  font-weight: lighter;
}


.main {
  padding-left: 180px;
  padding-right: 180px;
}

.interact {
  text-align: center;
  height: 240px;
}

.fill {
  object-fit: contain;
  background-color: #fff;
  height:100%; 
  width:100%;
  border-radius: 50%;
  border-color: #333;
  border-width: 1px;
  border-style: solid;
}

#prompt {
  float: left;
  position: absolute;
  line-height: 180%;
  top: 35px;
  left: 10%;
  width: 80%;
  margin: 0px; 
}

#sortable { 
  list-style-type: none; 
  display: inline-block;
  margin: 0; 
  padding: 0;
  /*width: 90%;*/
  /* For IE, the outcast */
  zoom:1;
  *display: inline;
}
#sortable li 
{
  /*position: absolute;*/
  margin-right: 8px;
  margin-left: 8px;
  padding: 1px; 
  float: left; 
  width: 200px; 
  height: 200px;
  border-radius: 100px; 
  font-size: 4em; 
  text-align: center; 
}

#selectable { 
  list-style-type: none; 
  display: inline-block;
  margin: 0; 
  padding: 0;
  /*width: 90%;*/
  /* For IE, the outcast */
  zoom:1;
  *display: inline;
}
#selectable li 
{
  /*background-color: #aaa;*/
  margin-right: 8px;
  margin-left: 8px;
  padding: 1px; 
  float: left; 
  width: 200px; 
  height: 200px; 
  border-radius: 100px;
  font-size: 4em; 
  text-align: center;  
}