<!doctype html>
<script type="text/javascript" src="{{ url_for('static', filename='dropzone.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='dropzone.css') }}">
<form id="my-awesome-dropzone" action="/target" class="dropzone">
	<div class="dropzone-previews"></div> <!-- this is were the previews should be shown. -->
	<div class="submit-div">
		<button id="submit" class="button" type="submit">Submit pictures for review!</button>
	</div>
</form>


<script type="text/javascript" >
	Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element

  // The configuration we've talked about above
  autoProcessQueue: false,
  uploadMultiple: true,
  parallelUploads: 100,
  maxFiles: 10,
  thumbnailWidth: null,
  thumbnailHeight: 200,

  // The setting up of the dropzone
  init: function() {
    var myDropzone = this;

    // First change the button to actually tell Dropzone to process the queue.
    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
      // Make sure that the form isn't actually being sent.
      e.preventDefault();
      e.stopPropagation();
      myDropzone.processQueue();
    });

    // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
    // of the sending event because uploadMultiple is set to true.
    this.on("sendingmultiple", function() {

    });
    this.on("successmultiple", function(files, response) {
      // Gets triggered when the files have successfully been sent.
      // Redirect user or notify of success.
    });
    this.on("errormultiple", function(files, response) {
      // Gets triggered when there was an error sending the files.
      // Maybe show form again, and notify user of error
    });
  }

}
</script>
<!-- <img src="removebutton.png" alt="Click me to remove the file." data-dz-remove /> -->