<link rel="stylesheet" type="text/css" href="../static/footer-basic-centered.css">

    <footer class="footer-basic-centered">
      <p class="footer-company-motto">Get PopOppin'</p>
      <p style="font-weight: lighter; color: #777; margin-bottom: -15px;">None of these work...</p>
      <p class="footer-links">
        <a href="/">Home</a>
        ·
        <a href="https://www.theodysseyonline.com/">Blog</a>
        ·
        <a href="https://github.com/gmosley/PopOp">About</a>
        ·
        <a href="https://en.wikipedia.org/wiki/FAQ">Faq</a>
        ·
        <a href="http://www.cleverbot.com/">Contact</a>
      </p>
      <p class="footer-company-name">PopOp &copy; 2016</p>
    </footer>