<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% include "navbar.html" %}
<p>Welcome {{ name }}</p>

<tr>
<table border="1">
<th>Description</th>
<th>Job Status</th>
</tr>
    {% for imageset in stats %}
        <tr>
        <td>{{ imageset.description }}</td>
        <td>{{ imageset.complete }}/{{ imageset.jobcount }}</td>
        </tr>
    {% endfor %}
</table>

{% include "footer.html" %}